# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Build outputs
build/
ios/Pods/
android/.gradle/
android/.kotlin/

# Mac / Windows / Linux
*.log
*.tmp
.DS_Store

# IDE
.idea/
.vscode/

# Firebase / Google Cloud service account credentials
android/app/*firebase-adminsdk*.json

android/app/estoriz-firebase-adminsdk-fbsvc-16400f5f5a.json